/*Importando fonte*/
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Silkscreen&family=Special+Elite&display=swap");

/*Resetando*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: "Special Elite"; /*Setando a fonte Press Start 2P*/
}
